#--extra-index-url https://gitlab.mpcdf.mpg.de/api/v4/projects/2187/packages/pypi/simple
lxml==5.1.1
numpy>=1.22
msgpack==0.6.2
nomad-lab>=1.2.1
typer[all]>=0.9.0
mkdocs-material
pymatgen>=2023.0.0
pytest>=8.0.0
# pandas>=1.5.0
# pyyaml>=6.0
# markdown>=3.4.0
# jinja2>=3.1.0
# mkdocs and mkdocs-material if needed
